PORT=3000

# Database (Docker)
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=vodoley_db
MYSQL_USER=app
MYSQL_PASSWORD=change_me_app

# Prisma connection string (Docker)
DATABASE_URL="mysql://app:change_me_app@db:3306/vodoley_db"
